<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
</head>
<body>
<form action="/users/TEST/add" method="post">

    车辆VIN:<input type='text' name="car_VIN"><br>
    动力蓄电池包总数:<input type='text' name="power_battery_number"><br>
    0号电池信息:<input type='text' name="power_battery_info_0"><br>
    1号电池信息:<input type='text' name="power_battery_info_1"><br>
    2号电池信息:<input type='text' name="power_battery_info_2"><br>
    3号电池信息:<input type='text' name="power_battery_info_3"><br>
    额外电池信息:<input type='text' name="extra_battery_info"><br>
    高压电池电流:<input type='text' name="high_voltage_battery_current"><br>
    电池电量SOC:<input type='text' name="battery_power_SOC"><br>
    剩余电量:<input type='text' name="residual_energy"><br>
    电池总电压:<input type='text' name="total_battery_voltage"><br>
    单体最高温度:<input type='text' name="max_single_temperature"><br>
    单体最低温度:<input type='text' name="min_single_temperature"><br>
    单体最高电压:<input type='text' name="max_single_voltage"><br>
    单体最低电压:<input type='text' name="min_single_voltage"><br>
    绝缘电阻值:<input type='text' name="insulation_resistance_value"><br>
    电池均衡激活:<input type='text' name="battery_equalization_activation"><br>

<input type="submit" value="提交">
</form>
</body>
</html>