<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
	<title>Bootstrap 实例 - 标签页（Tab）插件</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#register" data-toggle="tab">
			 注册信息
		</a>
	</li>
	<li><a href="#rtdata" data-toggle="tab">实时信息</a></li>
	<li><a href="#histroy" data-toggle="tab">历史信息</a></li>
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="register">
		<form action="/users/search">
            <input type="radio" name="searchtype" value="byVIN" checked="checked">
			<b>按VIN查找</b>
			<input list="VINs" name="car_VIN">
			<datalist id="VINs">
			  <option value="Internet Explorer">
			  <option value="Firefox">
			  <option value="Chrome">
			  <option value="Opera">
			  <option value="Safari">
			</datalist><br>
                
            <input type="radio" name="searchtype" value="bynumber">
			<b>按车牌号查找</b>
			<input list="Nums" name="car_NUM">
			<datalist id="Nums">
			  <option value="Internet Explorer">s
			  <option value="Firefox">
			  <option value="Chrome">
			  <option value="Opera">
			  <option value="Safari">
			</datalist><br>
            
            选择时间段: <input type="datetime-local" name="bdaytime">~
            <input type="datetime-local" name="bdaytime"><br>
            <input type="submit" value="查找">
        </form>
	</div>
	<div class="tab-pane fade" id="rtdata">
		<iframe src="https://cloud.sgmw.com.cn" width="1200" height="800" frameborder="0">
            <p>您的浏览器不支持  iframe 标签。</p>
        </iframe>
	</div>
	<div class="tab-pane fade" id="histroy">
        <form action="">
            <input type="radio" name="searchtype" value="byVIN" checked="checked">
			<b>按VIN查找</b>
			<input list="VINs" name="car_VIN">
			<datalist id="VINs">
			  <option value="Internet Explorer">
			  <option value="Firefox">
			  <option value="Chrome">
			  <option value="Opera">
			  <option value="Safari">
			</datalist><br>
                
            <input type="radio" name="searchtype" value="bynumber">
			<b>按车牌号查找</b>
			<input list="Nums" name="car_NUM">
			<datalist id="Nums">
			  <option value="Internet Explorer">
			  <option value="Firefox">
			  <option value="Chrome">
			  <option value="Opera">
			  <option value="Safari">
			</datalist><br>
            
            选择时间段: <input type="datetime-local" name="bdaytime">~
            <input type="datetime-local" name="bdaytime"><br>
            <input type="submit" value="查找">
        </form>
	</div>
</div>
</body>
</html>