<!DOCTYPE html>
<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>SJTU-E100-TEST</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
	<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
	<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
	<script src="https://img.hcharts.cn/highcharts/modules/data.js"></script>
	<script src="https://img.hcharts.cn/highcharts/modules/series-label.js"></script>
	<script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
	<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

	<script type="text/javascript" src="submit.js"></script>
	<style>
		table,td,th
		{
		border:0px solid black;
		}
		table
		{
		width:100%;
		}
		th
		{
		height:35px;
		font-size:20px;
		}
		td
		{
		text-align:left;
		}
		div{
		margin: auto;
		}
		.center {
		margin: 10px;
		padding: 10px;
		text-align:center;
		}
		#sgmw {
		background-color: lightgray;
		margin: auto;
		}
		#sgmwframe{
		margin: auto;
		width: 90%;
		}
		#register{
			height: 1200px;
		}
		.regleft,.regright{
			margin: 10px;
			width:450px;
			height:400px;
			padding: 10px;
			display: table-cell;
		}
		#reginfocontainer{
			width:900px;
			margin: auto;
		}
		#search{
			height: 100px;
		}
		h1{
			margin: 10px;
			text-align: left;
			padding: 20px
		}
		h2{
			padding: 10px;
			text-align: center;
		}
		#chartcontainer{
			width: 90%;
			padding: 20px;
		}
	</style>
</head>

<body>
	<div id="container">
		<div id="header">
			<h1 style="margin-bottom:0;">SJTU-E100-TEST</h1>
		</div>
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#register" data-toggle="tab">注册信息</a>
			</li>
			<li>
				<a href="#rtdata" data-toggle="tab">实时信息</a>
			</li>
			<li class="dropdown">
				<a href="#history" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">历史信息
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
					<li><a href="#runtime" tabindex="-1" data-toggle="tab">车辆历史数据</a></li>
					<li><a href="#battery" tabindex="-1" data-toggle="tab">电池历史数据</a></li>
					<li><a href="#alert" tabindex="-1" data-toggle="tab">告警历史数据</a></li>
					<li><a href="#other" tabindex="-1" data-toggle="tab">其他历史数据</a></li>
				</ul>
			</li>
		</ul>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="register">
				<h2>注册信息</h2>
				<div id="search1" class="center">
					<form action="/users/search/register">
						<input type="radio" name="searchtype_reg" value="byVIN" id="1" checked="checked">
						<b>按VIN查找</b>
						<input list="VINs" id="car_VIN_reg">
						<datalist id="VINs">
							<option value="1">
						</datalist><br>

						<input type="radio" name="searchtype_reg" value="bynumber" id="2">
						<b>按车牌号查找</b>
						<input list="Nums" id="car_NUM_reg">
						<datalist id="Nums">
							<option value="1">s
						</datalist><br>
						<input type="button" value="查询" onclick="Submit_reg()">
					</form>
				</div>
				<div id="reginfocontainer">
					<div id="regcontent1" class="regleft">
						<table id='regtable1'>
							<tr>
								<th>车辆VIN</th>
							</tr>
							<tr>
								<th>注册时间</th>
							</tr>
							<tr>
								<th>车辆类型</th>
							</tr>
							<tr>
								<th>储能装置种类</th>
							</tr>
							<tr>
								<th>驱动电机类型</th>
							</tr>
							<tr>
								<th>电机额定功率</th>
							</tr>
							<tr>
								<th>电机额定转速</th>
							</tr>
							<tr>
								<th>电机额定转矩</th>
							</tr>
						</table>
					</div>
					<div id="regcontent2" class="regright">
						<table id='regtable2'>
							<tr>
								<th>电机安装数量</th>
							</tr>
							<tr>
								<th>电机布置位置</th>
							</tr>
							<tr>
								<th>电机冷却方式</th>
							</tr>
							<tr>
								<th>电动汽车续航里程</th>
							</tr>
							<tr>
								<th>电动汽车最高时速</th>
							</tr>
							<tr>
								<th>电池包数量</th>
							</tr>
							<tr>
								<th>电池包信息</th>
							</tr>
							<tr>
								<th>额外字段</th>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="rtdata">
				<div id="sgmw">
					<iframe id="sgmwframe" src="about:black" height="800" width="1200" frameborder="0">
						<p>您的浏览器不支持 iframe 标签。</p>
					</iframe>
				</div>

			</div>
			<div class="tab-pane fade" id="runtime">
				<div id="search2" class="center">
					<h2>车辆历史数据</h2>
					<form action="/users/search/runtime">
						<input type="radio" name="searchtype_rt" value="byVIN" checked="checked">
						<b>按VIN查找</b>
						<input list="VINs" id="car_VIN_rt0">
						<datalist id="VINs">
							<option value="1">
						</datalist><br>

						<input type="radio" name="searchtype_rt" value="bynumber">
						<b>按车牌号查找</b>
						<input list="Nums" id="car_NUM_rt1">
						<datalist id="Nums">
							<option value="1">
						</datalist><br>

						<b>数据类型：</b>
						<select id="chartselect1" name="cars">
							<option value="location">位置</option>
							<option value="velocity" selected>速度</option>
							<option value="cumulative_mileage">总行驶里程</option>
							<option value="drive_motor_rpm">电机转速</option>
							<option value="drive_motor_temperature">电机温度</option>
						</select><br>
						选择时间段:
						<input type="datetime-local" name="bdaytime" value="2018-01-01T00:00">~
						<input type="datetime-local" name="bdaytime" value="2018-01-01T00:00"><br>
						<input type="button" value="查询" onclick="Submit_rt('runtime')">
					</form>
				</div>
				<div>
					<div id="chartcontainer" style="min-width:400px;height:400px"></div>
				</div>
			</div>
			<div class="tab-pane fade" id="battery">
				<div id="search3" class="center">
					<h2>电池历史数据</h2>
					<form action="">
						<input type="radio" name="searchtype_rt" value="byVIN" checked="checked">
						<b>按VIN查找</b>
						<input list="VINs" id="car_VIN_rt2">
						<datalist id="VINs">
							<option value="1">
						</datalist><br>

						<input type="radio" name="searchtype_rt" value="bynumber">
						<b>按车牌号查找</b>
						<input list="Nums" id="car_NUM_rt3">
						<datalist id="Nums">
							<option value="1">
						</datalist><br>

						<b>数据类型：</b>
						<select id="chartselect2" name="cars">
							<option value="residual_energy" selected>剩余电量</option>
							<option value="high_voltage_battery_current">总电流</option>
							<option value="total_battery_voltage">总电压</option>
							<option value="max_single_voltage">电池最高单体电压</option>
							<option value="min_single_voltage">电池最低单体电压</option>
							<option value="insulation_resistance_value">绝缘阻值</option>
						</select><br>
						选择时间段:
						<input type="datetime-local" name="bdaytime" value="2018-01-01T00:00">~
						<input type="datetime-local" name="bdaytime" value="2018-01-01T00:00"><br>
						<input type="button" value="查询" onclick="Submit_rt('battery')">
					</form>
				</div>
				<div>
					<div id="chartcontainer" style="min-width:400px;height:400px"></div>
				</div>
			</div>
			<div class="tab-pane fade" id="alert">
				<div id="search4" class="center">
					<h2>告警历史数据</h2>
					<form action="">
						<input type="radio" name="searchtype_rt" value="byVIN" checked="checked">
						<b>按VIN查找</b>
						<input list="VINs" id="car_VIN_rt4">
						<datalist id="VINs">
							<option value="1">
						</datalist><br>

						<input type="radio" name="searchtype_rt" value="bynumber">
						<b>按车牌号查找</b>
						<input list="Nums" id="car_NUM_rt5">
						<datalist id="Nums">
							<option value="1">
						</datalist><br>

						选择时间段:
						<input type="datetime-local" name="bdaytime" value="2018-01-01T00:00">~
						<input type="datetime-local" name="bdaytime" value="2018-01-01T00:00"><br>
						<input type="button" value="查询" onclick="Submit_rt('alert')">
					</form>
				</div>
				<div id="alerttable">
				</div>
			</div>
			<div class="tab-pane fade" id="other">
				<div id="search5" class="center">
					<h2>告警历史数据</h2>
					<form action="">
						<input type="radio" name="searchtype_rt" value="byVIN" checked="checked">
						<b>按VIN查找</b>
						<input list="VINs" id="car_VIN_rt6">
						<datalist id="VINs">
							<option value="1">
						</datalist><br>

						<input type="radio" name="searchtype_rt" value="bynumber">
						<b>按车牌号查找</b>
						<input list="Nums" id="car_NUM_rt7">
						<datalist id="Nums">
							<option value="1">
						</datalist><br>

						<b>数据类型：</b>
						<select id="chartselect4" name="cars">
							<option value="motor_torque" selected>电机转矩</option>
							<option value="motor_controller_current">电机控制器电流</option>
							<option value="motor_controller_voltage">电机控制器电压</option>
						</select><br>
						选择时间段:
						<input type="datetime-local" name="bdaytime" value="2018-01-01T00:00">~
						<input type="datetime-local" name="bdaytime" value="2018-01-01T00:00"><br>
						<input type="button" value="查询" onclick="Submit_rt('other')">
					</form>
				</div>
				<div>
					<div id="chartcontainer" style="min-width:400px;height:400px"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>