<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<form action="/users/search" method="post">
    姓名：<input type="text" name="s_name" value="{{s_name}}"><br>
    年龄：<input type="text" name="s_age" value="{{s_age}}"><br>
    <input type="submit" value="查询">
    <td><a href="/users/add">新增</a></td>
</form>

<table>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>操作</th>
    </tr>
    {% for item in datas %}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td><a href="/users/del/{{item.id}}">删除</a></td>
        <td><a href="/users/toUpdate/{{item.id}}">修改</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>